@use '@/common.scss' as mixin;

.search-container {
  background-color: var(--gray-10);
  padding: var(--px-md);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--px-md);
  @include mixin.responsive('mobile') {
    padding: 0;
  }
  .input-wrapper {
    width: var(--search-bar-width);
    position: relative;
    > input {
      width: 100%;
      border: 1px solid var(--midnight-900);
      font-size: 1.1rem;
      height: var(--btn-xlg2);
      padding-left: 16px;
      padding-right: calc(var(--ic-sm) + 16px + var(--btn-xlg2) - 2px);
      appearance: none;
      font-weight: 400;
      &::placeholder {
        color: #b4b9bc;
        font-weight: 500;
        font-size: 19px;
        @include mixin.responsive('mobile') {
          font-size: 15px;
          font-weight: 400;
        }
      }
      &:focus {
        outline: none;
      }
      &:active {
        border-color: unset;
      }
    }
    .reset-btn {
      position: absolute;
      right: calc(-1px + var(--btn-xlg2) + 10px);
      top: 18px;
      opacity: 1;
      transition: all 0.4s ease;
      cursor: pointer;
      @include mixin.responsive('tablet') {
        top: 14px;
      }
      @include mixin.responsive('mobile') {
        top: 10px;
      }
      &.hide {
        visibility: hidden;
        opacity: 0;
      }
    }
    .search-btn {
      position: absolute;
      width: 32px;
      top: 12px;
      right: 12px;
      cursor: pointer;
      @include mixin.responsive('mobile') {
        width: 24px;
        top: 8px;
        right: 8px;
      }
      @include mixin.responsive('tablet') {
        width: 24px;
      }
    }
  }
}
