@font-face {
  font-family: KiaSignature;
  font-style: normal;
  font-weight: 400;
  src: url('./assets/font/KiaSignatureFixLight.ttf') format('truetype');
}

@font-face {
  font-family: KiaSignature;
  font-style: normal;
  font-weight: 500;
  /* font-display: swap; */
  src: url('./assets/font/KiaSignatureFixRegular.ttf') format('truetype');
}
@font-face {
  font-family: KiaSignature;
  font-style: normal;
  font-weight: 700;
  /* font-display: swap; */
  src: url('./assets/font/KiaSignatureFixBold.ttf') format('truetype');
}

:root {
  --max-width: 1660px;
  --line-height-sm: 1.4;
  --line-height-md: 1.6;
  --line-height-lg: 1.8;
  --cubic-bezier-primary: cubic-bezier(1, 0, 0.2, 1);
  --mint-900: #70d7bf;
  --mint-700: #8ddfcc;
  --midnight-900: #05141f;
  --midnight-100: #cdd0d2;

  --gray-700: #37434c;
  --gray-500: #697278;
  --gray-400: #82898f;
  --gray-200: #cdd0d2;
  --gray-100: #e6e8e9;
  --gray-50: #f6f6f9;
  --gray-10: #f8f8f8;
}

@media (max-width: 743px) {
  :root {
    font-size: 14px;
    --px-md: 16px;
    --px-lg: 24px;
    --px-xlg: 32px;
    --input-md: 40px;
    --input-md-fsize: 16px;
    --space-sm: 12px;
    --space-md: 16px;
    --heading-2: 20px;
    --heading-2-margin: 48px 0 16px;
    --heading-info: 16px;
    --btn-md: 36px;
    --btn-xlg: 48px;
    --btn-xlg2: 40px;
    --btn-xxlg: 72px;
    --btn-xxlg-size: 16px;
    --ic-sm: 20px;
    --header-height: 56px;
    --footer-height: 284px;
    --side-padding: 24px;
    --bottom-padding: 80px;
    --h1-height: 124px;
    --h1-fsize: 24px;
    --h1-fsize-sm: 14px;
    --tab-fsize: var(--font-size);
    --search-bar-width: 100%;
    --list-more-size: 14px;
    --faq-list-a-padding-v: 16px;
    --faq-list-a-padding-h: 0;
    --faq-list-a-size: 16px;
    --faq-list-q-padding: 16px 0;
  }
}
@media (min-width: 744px) and (max-width: 1023px) {
  :root {
    font-size: 16px;
    --px-md: 16px;
    --px-lg: 32px;
    --px-xlg: 56px;

    --space-sm: 14px;

    --heading-2: 24px;
    --heading-2-margin: 48px 0 24px;
    --heading-info: 18px;

    --btn-md: 44px;
    --btn-xlg: 52px;
    --btn-xlg2: 48px;
    --btn-xxlg: 80px;
    --btn-xxlg-size: 16px;
    --ic-sm: 24px;

    --header-height: 56px;
    --footer-height: 296px;
    --side-padding: 48px;
    --bottom-padding: 80px;
    --h1-height: 160px;
    --h1-fsize: 40px;
    --h1-fsize-sm: 14px;
    --tab-fsize: var(--font-size);
    --search-bar-width: 400px;

    --list-more-size: 16px;

    --faq-list-a-padding-v: 24px;
    --faq-list-a-padding-h: 24px;
    --faq-list-a-size: 20px;
    --faq-list-q-padding: 24px 24px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  :root {
    font-size: 18px;
    --px-md: 20px;
    --px-lg: 40px;
    --px-xlg: 64px;
    --input-md: 48px;
    --input-md-fsize: 14px;

    --space-sm: 20px;

    --heading-2: 24px;
    --heading-2-margin: 48px 0 24px;
    --heading-4: 18px;
    --heading-4-margin: 24px 0 8px;
    --heading-info: 20px;
    --heading-box: 20px;
    --btn-md: 48px;
    --btn-xlg: 56px;
    --btn-xlg2: 56px;
    --btn-xxlg: 80px;
    --btn-xxlg-size: 18px;
    --ic-sm: 24px;

    --header-height: 80px;
    --footer-height: 176px;
    --side-padding: 48px;
    --bottom-padding: 80px;
    --h1-height: 192px;
    --h1-fsize: 48px;
    --h1-fsize-sm: 16px;
    --tab-fsize: 20px;
    --search-bar-width: 480px;

    --list-more-size: 18px;

    --faq-list-a-padding-v: 18px;
    --faq-list-a-padding-h: 20px;
    --faq-list-a-size: 18px;
    --faq-list-q-padding: 24px 32px;
  }
}
@media (min-width: 1440px) {
  :root {
    font-size: 18px;
    --px-md: 24px;
    --px-lg: 48px;
    --px-xlg: 76px;

    --space-sm: 20px;

    --space-md: 32px;

    --heading-2: 24px;
    --heading-2-margin: 64px 0 24px;
    --heading-4: 20px;
    --heading-4-margin: 28px 0 12px;
    --heading-info: 24px;
    --heading-box: 24px;
    --btn-md: 48px;
    --btn-xlg: 56px;
    --btn-xlg2: 56px;
    --btn-xxlg: 80px;
    --btn-xxlg-size: 18px;
    --ic-sm: 24px;

    --header-height: 80px;
    --footer-height: 176px;
    --side-padding: 48px;
    --bottom-padding: 96px;
    --h1-height: 222px;
    --h1-fsize: 56px;
    --h1-fsize-sm: 18px;
    --tab-fsize: 20px;
    --search-bar-width: 480px;

    --list-more-size: 18px;

    --faq-list-a-padding-v: 24px;
    --faq-list-a-padding-h: 24px;
    --faq-list-a-size: 20px;
    --faq-list-q-padding: 32px 40px;
  }
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(112, 215, 191, 0.08);
}

html {
  height: 100%;
  /* background-color: var(--midnight-900); */
}

body {
  height: 100%;
  min-width: 360px;
  margin: 0;
  font-family: 'KiaSignature';
  /* background-color: #fff; */
}
ul {
  list-style: none;
}

@mixin responsive($device) {
  @if $device == 'mobile' {
    @media screen and (max-width: 743px) {
      @content;
    }
  } @else if $device == 'tablet' {
    @media screen and (min-width: 744px) and (max-width: 1023px) {
      @content;
    }
  } @else if $device == 'desktop' {
    @media screen and (min-width: 1024px) and (max-width: 1439px) {
      @content;
    }
  } @else if $device == 'widescreen' {
    @media screen and (min-width: 1440px) {
      @content;
    }
  }
}
